@import url('https://fonts.cdnfonts.com/css/minimal');

.navbar {
    background-color: #353537 !important;
    font-family: 'Minimal', sans-serif;
}

.navbar a{
    text-decoration: none !important;
}

.navbar .navbar-toggler{
    border: none !important;
}

.navbar li{
    opacity: 1 !important;
    line-height: 1 !important;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='whitesmoke' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar .navbar-toggler-icon:active {
    border: none !important;
}

.badge:after {
    content: attr(value);
    font-size: 20px;
    color: black;
    background: wheat;
    border-radius: 15%;
    padding: 0 5px;
    position: relative;
    left: -5px;
    top: -12px;
    opacity: 0.9;
}

.nav-cart-element {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
}

.nav-cart-element button{
    padding: 0.3rem;
    border-radius: 0rem;
    padding-left: 0.3rem;
    padding-right: 1.2rem;
    background-color: rgba(104, 15, 15, 0.55);
    border-color: transparent;
    width: 100%;
}

.nav-cart-element:hover button
{
    border-color: transparent;
}

@media only screen and (min-width: 992px) {
    .nav-cart-element{
        margin-left: auto;
    }
    .nav-cart-element{
        width: auto;
    }
    .nav-cart-element button{
        width: auto;
        border-radius: 0.6rem;
    }
}

